.infoTitle {
    margin: 40px;
}
.container {
    margin-left: 100px;
    font-size: 17px;
}
.container p{
    line-height: 23px;
    color: #1b6d85;
}
.container p span {
    color: black;
    line-height: 35px;
}
